.mail-div{
    width: 50%;
    margin: auto;
}


.profile-info-container{
    width: 100%;
    justify-content: space-between;
    margin: auto;
    border: 1px solid black;
    height: 10rem;
    display: flex;
}

.image-placeholder{
border-radius: 50%;
width: 6rem;
height: 6rem;
border: 1px solid black;
margin: 1rem;
}

.Profile-info{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-info{
    display: flex;
    justify-content:space-evenly ;
}

.container-2{
    border: 1px solid black;
    border-top: none;
    width: 100%;
    height: 25rem;
    margin: auto;
}

.actions{
    display: flex;
    justify-content: space-evenly;
}

.actions > *:hover{
    cursor: pointer;
}