.main-div {
	width: 30rem;
	max-width: 95%;
	min-height: 45rem;
	height: fit-content;
	margin: 2rem auto;
	border-radius: 10px;
	box-shadow: -8px 9px 47px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: -8px 9px 47px 4px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 9px 47px 4px rgba(0,0,0,0.75);
}

.profile-info-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: auto;
	height: 10rem;
}

.image-placeholder {
	border-radius: 50%;
	width: 6rem;
	height: 6rem;
	border: 1px solid black;
	margin: 1rem;
}

.profilePic-btn-div{
	display: flex;
	justify-content: space-around;
}

.profilePic-btn-div > *:hover{
	background-color: rgb(230, 127, 144);
    border: 2px solid black;
	color: white;

}

.profilePic-btn-div > *{
	border-radius: 7px;
	width: fit-content !important;
	border: 2px solid black;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.Profile-info {
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.number-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.container-2 {
	border-top: none;
	padding: 1rem;
	width: 100%;
	margin: auto;
	overflow-y: auto;
}

.actions {
	display: flex;
	justify-content: space-evenly;
	margin-left: 4rem;
}

.actions > *:hover {
	cursor: pointer;
}

.underline{
	border-bottom: 3px solid rgb(230, 127, 144);
}