.link-active{
    color:rgb(230, 127, 144) !important;
    font-weight: bold !important;
}

.text{
    color:rgb(230, 127, 144);
    font-weight: bold;
    
}

.nav-link:focus{
    outline:none
}

.navbar-brand:active,.navbar-brand:focus{
    color : rgb(230, 127, 144);
    outline: none
}
.loginBtn{
    border: 2px solid black;
    color: black;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: rgb(255, 248, 248);
}

.loginBtn:hover{
    background-color: rgb(230, 127, 144);
    border: 2px solid black;
}