.feed-post-container {
	display: none;
	margin: 1rem;
}
.feed-post-container > * {
	border-radius: 7px;
	margin-bottom: 0.5rem;
}

.feed-post-container > textarea {
	width: 20rem;
	height: 5rem;
	resize: none;
}

.display-block {
	display: flex;
	flex-direction: column;
}

.buttonsDiv {
	display: flex;
}

.button-div > * {
	border-radius: 7px;
}

.write-btn:hover,.post-btn:hover{
    background-color: rgb(230, 127, 144);
    border: 2px solid black;
	color: white;
}
.discard-btn:hover{
	background-color: black;
    border: 2px solid black;
	color: white;
}