.formClass{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 10rem;
    align-items: center;
}

.formClass > * {
    margin: 0.5rem 1rem;
    width: 15rem;
    border-radius: 7px;
    outline: none;
}

button{
    width: 5rem !important;

}

.emailInput{
    
}

.PasswordInput{

}